# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.SportClub.iml
# Datasource local storage ignored files
/../../../../../../../../:\NURE\3semestr\БД\SportClub\.idea\.idea.SportClub\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
